<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <clear />
        <rule name="api" stopProcessing="true">
          <match url="^(api/.*)$" />
          <action type="Rewrite" url="api/{R:1}" />
        </rule>
        <rule name="files" stopProcessing="true">
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="dispatch">
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <location path="index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-store" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="static">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="max-age=31536000" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
